{% extends "base/base.html" %}
{% load static %}
{% block title %}
    聊天室
{% endblock %}
{% block content %}
    {% block cssfile %}
        <link rel="stylesheet" href="{% static "chat/css/chat.css" %}">
    {% endblock %}
    <div class="container">
        <div id="content" class="jumbotron">

            <ul class="chat-list list-group">
                <div class="alert title1" role="alert">
                    <h4>当前聊天好友</h4>
                </div>
                <li>
                    <div class="list-group-item alert alert-success" role="alert">
                        <span class="badge">2</span>
                        <img class="headimg" src="{% static "base/icon.jpg" %}">
                        <div class="message">
                            <p class="user-nick">爱你的芒果</p>
                            <p class="user-info">你在干嘛22222222222222222222222</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="alert alert-success" role="alert">
                        <img class="headimg" src="{% static "base/icon.jpg" %}">
                    </div>
                </li>
            </ul>

            <div class="input-group send">
                <input type="text" class="form-control" placeholder="Send for...">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button">发送</button>
        </span>
            </div>
            <div class="chat-log">
                <div class="chat-item">
                    <div class="dialog myword">哈哈但是呵呵haha哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                </div>
                <div class="chat-item">
                    <div class="dialog myword">哈哈但是呵呵haha哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                </div>
                <div class="chat-item">
                    <div class="dialog myword">哈哈但是呵呵haha哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                </div>
            </div>

        </div>
    </div> <!-- /container -->


{% endblock %}

{% block jsfile %}
    <script src="{% static "chat/js/chat.js" %}"></script>
{% endblock %}
